Repository urwid/urwid, pull requests merged in 2023-04, with the labels that each got.

#526 Update readme and build system
  .coveragerc
  .github/workflows/pythonpackage.yml
  .travis.yml
  README.rst
  classifiers.txt
  pyproject.toml
  setup.py
  test_requirements.txt
  tox.ini
  urwid/tests/test_event_loops.py
  urwid/tests/test_signals.py
Labels: feature, refactoring, docs

#530 Fix input handling and extra type annotations
  urwid/curses_display.py
  urwid/decoration.py
  urwid/display_common.py
  urwid/escape.py
  urwid/graphics.py
  urwid/html_fragment.py
  urwid/lcd_display.py
  urwid/main_loop.py
  urwid/old_str_util.py
  urwid/raw_display.py
  urwid/treetools.py
  urwid/vterm.py
  urwid/web_display.py
  urwid/widget.py
  urwid/wimp.py
Labels: feature, bug, refactoring, python3

#533 Deprecate legacy property creation
  examples/calc.py
  examples/dialog.py
  urwid/canvas.py
  urwid/container.py
  urwid/decoration.py
  urwid/display_common.py
  urwid/graphics.py
  urwid/listbox.py
  urwid/main_loop.py
  urwid/monitored_list.py
  urwid/tests/test_container.py
  urwid/widget.py
Labels: refactoring

#434 Add two fonts based on Unicode 13 2x3 TRS-80/Teletext mosaic characters
  source/str_util.c
  urwid/font.py
  urwid/old_str_util.py
Labels: feature

#538 Deprecate `__super` hack
  urwid/util.py
Labels: python3
