Repository urwid/urwid, pull requests merged in 2023-09, with the labels that each got.

#595 Split widget and introduce base enums
  .github/workflows/pythonpackage.yml
  docs/tutorial/cmenu.py
  tox.ini
  urwid/__init__.py
  urwid/command_map.py
  urwid/container.py
  urwid/decoration.py
  urwid/event_loop/main_loop.py
  urwid/graphics.py
  urwid/listbox.py
  urwid/tests/test_doctests.py
  urwid/tests/test_graphics.py
  urwid/tests/test_signals.py
  urwid/tests/test_vterm.py
  urwid/vterm.py
  urwid/widget.py
  urwid/widget/__init__.py
  urwid/widget/attr_map.py
  urwid/widget/attr_wrap.py
  urwid/widget/bar_graph.py
  urwid/widget/big_text.py
  urwid/widget/box_adapter.py
  urwid/widget/columns.py
  urwid/widget/constants.py
  urwid/widget/container.py
  urwid/widget/divider.py
  urwid/widget/edit.py
  urwid/widget/filler.py
  urwid/widget/frame.py
  urwid/widget/grid_flow.py
  urwid/widget/line_box.py
  urwid/widget/overlay.py
  urwid/widget/padding.py
  urwid/widget/pile.py
  urwid/widget/popup.py
  urwid/widget/progress_bar.py
  urwid/widget/solid_fill.py
  urwid/widget/text.py
  urwid/widget/widget.py
  urwid/widget/widget_decoration.py
  urwid/widget/wimp.py
  urwid/wimp.py
Labels: refactoring

#598 Fix #583: python 3.12 compatibility
  .github/workflows/pythonpackage.yml
  source/str_util.c
Labels: bug, Unicode

#599 Pass SelectableIcon `align` and `wrap` arguments to parent
  urwid/widget/text.py
  urwid/widget/wimp.py
Labels: feature

#607 CI/CD: Changelog generation
  .github/release.yml
Labels: CI/CD

#608 Documentation: mention correct python versions
  README.rst
  classifiers.txt
Labels: docs

#613 Project maintenance: move templates to the .github
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#609 Fix: deep TextEnum was improperly resolved
  urwid/__init__.py
  urwid/font.py
  urwid/tests/test_doctests.py
  urwid/widget/constants.py
  urwid/widget/padding.py
Labels: bug, regression

#615 CI/CD extend: add automatic labels on internal changes
  .github/labeler.yml
  .github/workflows/labels.yml
  .github/workflows/pythonpackage.yml
Labels: CI/CD, Maintenance

#604 Typing: Extend wimp typing annotations
  urwid/widget/columns.py
  urwid/widget/pile.py
  urwid/widget/wimp.py
Labels: Feature, refactoring

#612 Documentation: add stripped changelog for 2.2.0
  docs/changelog.rst
Labels: docs

#618 Fix font in case Font.data is `str`
  examples/bigtext.py
  urwid/font.py
Labels: bug

#620 Enforce examples code-style
  .github/workflows/pythonpackage.yml
  examples/asyncio_socket_server.py
  examples/edit.py
  examples/lcd_cf635.py
  examples/palette_test.py
  examples/subproc.py
  examples/subproc2.py
  examples/terminal.py
  examples/twisted_serve_ssh.py
  tox.ini
Labels: docs

#621 Feature: Support pack() for CheckBox/RadioButton/Button
  urwid/widget/wimp.py
Labels: Feature

#616 Documentation: add 2.2.1 changelog and fix build
  .github/workflows/documenation.yml
  .gitignore
  docs/changelog.rst
  tox.ini
  urwid/event_loop/asyncio_loop.py
Labels: docs

#622 Packaging: stop tests distribution as part of package
  .github/workflows/pythonpackage.yml
  pyproject.toml
  tests/__init__.py
  tests/test_canvas.py
  tests/test_container.py
  tests/test_decoration.py
  tests/test_doctests.py
  tests/test_escapes.py
  tests/test_event_loops.py
  tests/test_floatedit.py
  tests/test_font.py
  tests/test_graphics.py
  tests/test_listbox.py
  tests/test_signals.py
  tests/test_str_util.py
  tests/test_text_layout.py
  tests/test_util.py
  tests/test_vterm.py
  tests/test_widget.py
  tests/util.py
  tox.ini
Labels: refactoring

#627 CI optimization: build main workflow only on related
  .github/workflows/pythonpackage.yml
Labels: CI/CD

#630 Documentation: fix typo in job name
  .github/workflows/documentation.yml
Labels: CI/CD

#632 CI: Do not count coverage on tests
  pyproject.toml
Labels: CI/CD

#634 Maintenance: Labeler
  .github/labeler.yml
Labels: Maintenance

#635 Maintenance: Add yamllint for cases of config changes
  .coveralls.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/pythonpackage.yml
  .github/workflows/yamllint.yml
  .yamllint.yml
Labels: CI/CD

#636 Refactoring numedit: PEP8 arguments, allow negative, type casts
  tox.ini
  urwid/numedit.py
  urwid/widget/edit.py
Labels: bug, refactoring, Deprecation

#637 Refactoring: Force automated import sorting for all code
  .github/workflows/pythonpackage.yml
  setup.py
  tests/test_vterm.py
  tox.ini
  urwid/__init__.py
  urwid/canvas.py
  urwid/display_common.py
  urwid/lcd_display.py
  urwid/monitored_list.py
  urwid/raw_display.py
  urwid/signals.py
  urwid/text_layout.py
  urwid/treetools.py
  urwid/vterm.py
Labels: refactoring

#638 Refactoring: Force automated black formatting
  .github/workflows/pythonpackage.yml
  pyproject.toml
  setup.py
  tox.ini
  urwid/canvas.py
  urwid/container.py
  urwid/curses_display.py
  urwid/decoration.py
  urwid/display_common.py
  urwid/html_fragment.py
  urwid/lcd_display.py
  urwid/listbox.py
  urwid/monitored_list.py
  urwid/old_str_util.py
  urwid/raw_display.py
  urwid/signals.py
  urwid/split_repr.py
  urwid/text_layout.py
  urwid/treetools.py
  urwid/util.py
  urwid/vterm.py
  urwid/web_display.py
  urwid/wimp.py
Labels: refactoring

#639 Refactoring: Force `ruff` static checker for project
  .github/workflows/pythonpackage.yml
  pyproject.toml
  tox.ini
  urwid/__init__.py
  urwid/canvas.py
  urwid/container.py
  urwid/curses_display.py
  urwid/decoration.py
  urwid/display_common.py
  urwid/event_loop/main_loop.py
  urwid/font.py
  urwid/graphics.py
  urwid/html_fragment.py
  urwid/lcd_display.py
  urwid/listbox.py
  urwid/monitored_list.py
  urwid/old_str_util.py
  urwid/raw_display.py
  urwid/signals.py
  urwid/split_repr.py
  urwid/text_layout.py
  urwid/treetools.py
  urwid/util.py
  urwid/vterm.py
  urwid/web_display.py
Labels: refactoring

#640 Refactor: fixup usage of contextlib.suppress()
  examples/terminal.py
  tests/test_text_layout.py
  tests/test_widget.py
  urwid/canvas.py
  urwid/curses_display.py
  urwid/event_loop/main_loop.py
  urwid/event_loop/select_loop.py
  urwid/event_loop/tornado_loop.py
  urwid/listbox.py
  urwid/util.py
  urwid/vterm.py
  urwid/web_display.py
Labels: refactoring

#643 Documentation: Sphinx can build gh-pages ready
  docs/conf.py
Labels: docs

#645 Fix import from deprecated internal module
  urwid/event_loop/main_loop.py
Labels: bug

#646 Expose `widget` and `event_loop` packages
  urwid/__init__.py
  urwid/widget/__init__.py
Labels: Feature

#648 Documentation: generate changelog from GH releases
  .github/workflows/documentation.yml
  docs/changelog.rst
  docs/conf.py
  tox.ini
Labels: docs

#651 Documentation: Use static default text in BigText demo
  examples/bigtext.py
Labels: docs

#652 Documentation Remove unneeded closing tags in TOC
  docs/tools/templates/localtoc.html
Labels: docs

#653 Fix tutorial: rename `attr` to `urwid_attr`
  docs/tutorial/index.rst
  docs/tutorial/urwid_attr.py
  docs/tutorial/urwid_attr.py.xdotool
  docs/tutorial/urwid_attr1.png
  docs/tutorial/urwid_attr2.png
  docs/tutorial/urwid_attr3.png
  docs/tutorial/urwid_attr4.png
Labels: docs
