Repository urwid/urwid, pull requests merged in 2023-11, with the labels that each got.

#671 Maintenance: apply `refurb` fixes and tighten ruff
  examples/calc.py
  examples/palette_test.py
  pyproject.toml
  urwid/canvas.py
  urwid/display_common.py
  urwid/escape.py
  urwid/event_loop/select_loop.py
  urwid/event_loop/zmq_loop.py
  urwid/lcd_display.py
  urwid/listbox.py
  urwid/raw_display.py
  urwid/treetools.py
  urwid/util.py
  urwid/vterm.py
  urwid/web_display.py
  urwid/widget/edit.py
  urwid/widget/frame.py
  urwid/widget/line_box.py
  urwid/widget/progress_bar.py
Labels: refactoring

#675 Fix #674 : old versions of setuptools_scm support
  pyproject.toml
  urwid/__init__.py
  urwid/font.py
Labels: bug

#677 Maintenance: port OSX deps installing for cases of future OSX testing
  .github/workflows/pythonpackage.yml
Labels: CI/CD, Maintenance

#676 fixed typo
  docs/manual/displayattributes.rst
Labels: docs

#679 Replace deprecated use of MultiError with exceptiongroup
  pyproject.toml
  test_requirements.txt
  urwid/event_loop/trio_loop.py
Labels: Feature

#680 Trivial: fix part of type annotations
  urwid/event_loop/trio_loop.py
  urwid/event_loop/zmq_loop.py
  urwid/listbox.py
  urwid/monitored_list.py
  urwid/vterm.py
  urwid/widget/constants.py
Labels: refactoring

#683 Fix exception re-raise in trio event loop
  urwid/event_loop/trio_loop.py
Labels: refactoring

#684 Maintenance: CI: Build wheels only if push to upstream
  .github/workflows/pythonpackage.yml
Labels: CI/CD, Maintenance

#686 Declare extension use Py_LIMITED_API explicit also in setup.py
  setup.py
Labels: Feature

#685 Maintenance: Tests: Use explicit encoding for tests
  tests/test_canvas.py
  tests/test_doctests.py
  tests/test_font.py
  tests/test_graphics.py
  tests/test_text_layout.py
  tests/test_util.py
  tests/test_vterm.py
  tests/test_widget.py
  urwid/canvas.py
  urwid/font.py
  urwid/util.py
  urwid/widget/padding.py
Labels: Tests
