Repository urwid/urwid, pull requests merged in 2024-10, with the labels that each got.

#941 Type annotations: fix typing issues
  tests/test_columns.py
  tests/test_tree.py
  urwid/command_map.py
  urwid/display/escape.py
Labels: refactoring

#939 Add 16-color support
  urwid/vterm.py
Labels: Widget

#942 Maintenance: enable python 3.13 CI and fix static tests
  .github/workflows/pythonpackage.yml
  .pre-commit-config.yaml
  classifiers.txt
  tox.ini
  urwid/canvas.py
  urwid/widget/bar_graph.py
  urwid/widget/progress_bar.py
  urwid/widget/scrollable.py
Labels: CI/CD, Maintenance

#943 Windows: use Unicode input directly
  urwid/display/_win32_raw_display.py
Labels: bug, Unicode, Windows, Display

#944 Document python 3.13 support
  .github/workflows/pythonpackage.yml
  README.rst
Labels: docs, CI/CD
