Repository urwid/urwid, pull requests merged in 2024-05, with the labels that each got.

#880 fix: prevent a possible infinite loop in WidgetDecoration.base_widget
  urwid/widget/widget_decoration.py
Labels: bug, Widget

#884 Code refactoring: follow updated static checker rules
  examples/browse.py
  examples/calc.py
  urwid/canvas.py
  urwid/display/_raw_display_base.py
  urwid/widget/bar_graph.py
Labels: refactoring, docs, Widget, Canvas, Display

#879 make ScrollBar check wrapped widgets for SupportsScroll (Fixes #878)
  tests/test_scrollable.py
  urwid/widget/scrollable.py
Labels: bug, Tests, Widget

#887 Maintenance: update pylint and fix warnings
  .github/workflows/isolated_static_check.yml
  .github/workflows/pythonpackage.yml
  .pre-commit-config.yaml
  pylint-requirements.txt
  urwid/display/_raw_display_base.py
  urwid/display/common.py
  urwid/display/curses.py
  urwid/event_loop/zmq_loop.py
  urwid/widget/scrollable.py
Labels: CI/CD, Maintenance, github_actions, Widget, Display, Event loop
