Repository urwid/urwid, pull requests merged in 2024-06, with the labels that each got.

#891 Maintenance: update ruff and fix warnings
  .pre-commit-config.yaml
  pyproject.toml
  ruff-requirements.txt
  urwid/display/curses.py
Labels: dependencies

#896 Maintenance: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#894 Adopt ExceptionGroup handling without an external library
  test_requirements.txt
  urwid/event_loop/trio_loop.py
Labels: bug, python, Event loop

#895 Fix browse example
  examples/browse.py
Labels: bug, docs

#897 Test requirements: exceptiongroups -> exceptiongroup
  test_requirements.txt
Labels: dependencies

#901 GridFlow fixes for empty container
  tests/test_grid_flow.py
  urwid/widget/grid_flow.py
Labels: bug, Tests, Widget

#905 Fix ScrollBar mouse_event handling with ListBox
  tests/test_scrollable.py
  urwid/widget/scrollable.py
Labels: bug, Tests, Widget

#908 [Maintenance] Bump ruff static checker & fix failures
  .pre-commit-config.yaml
  examples/subproc.py
  ruff-requirements.txt
  urwid/display/_posix_raw_display.py
Labels: dependencies
