Repository urwid/urwid, pull requests merged in 2024-01, with the labels that each got.

#655 Refactor: join display modules in package
  docs/manual/displaymodules.rst
  docs/reference/display_modules.rst
  examples/asyncio_socket_server.py
  examples/bigtext.py
  examples/calc.py
  examples/input_test.py
  examples/lcd_cf635.py
  examples/palette_test.py
  examples/terminal.py
  examples/tour.py
  examples/twisted_serve_ssh.py
  tests/test_doctests.py
  tests/test_escapes.py
  tests/test_raw_display.py
  tests/test_str_util.py
  urwid/__init__.py
  urwid/display/__init__.py
  urwid/display/_posix_raw_display.py
  urwid/display/_raw_display_base.py
  urwid/display/_web.css
  urwid/display/_web.js
  urwid/display/_win32.py
  urwid/display/_win32_raw_display.py
  urwid/display/common.py
  urwid/display/curses.py
  urwid/display/escape.py
  urwid/display/html_fragment.py
  urwid/display/lcd.py
  urwid/display/raw.py
  urwid/display/web.py
  urwid/event_loop/main_loop.py
  urwid/font.py
  urwid/graphics.py
  urwid/util.py
  urwid/vterm.py
Labels: refactoring, docs, Tests, Deprecation, Windows

#610 Feature: support FIXED render mode for Text
  docs/manual/images/urwid_widgets_1.png
  urwid/widget/attr_map.py
  urwid/widget/edit.py
  urwid/widget/padding.py
  urwid/widget/text.py
  urwid/widget/widget_decoration.py
  urwid/widget/wimp.py
Labels: Feature, docs

#723 Do not produce `DeprecationWarning` for `urwid.escape`
  urwid/__init__.py
Labels: refactoring

#721 Feature: Implement `keypress` and `mouse_event` default handlers
  pyproject.toml
  urwid/listbox.py
  urwid/widget/columns.py
  urwid/widget/filler.py
  urwid/widget/frame.py
  urwid/widget/overlay.py
  urwid/widget/pile.py
  urwid/widget/widget.py
  urwid/widget/widget_decoration.py
Labels: Feature

#727 Fix Regressions in 2.4.0
  tests/test_moved_imports.py
  urwid/__init__.py
  urwid/widget/widget.py
Labels: Tests, regression

#729 Remove unused deprecated "test_suite" directive from setup.py
  setup.py
Labels: refactoring

#731 Feature: support FIXED-only widgets and FIXED rendering for Columns
  docs/manual/images/urwid_widgets_1.png
  docs/manual/images/urwid_widgets_1.xcf
  docs/manual/images/urwid_widgets_2.png
  docs/manual/images/urwid_widgets_2.xcf
  docs/manual/widgets.rst
  tests/test_columns.py
  tests/test_container.py
  urwid/widget/__init__.py
  urwid/widget/columns.py
  urwid/widget/container.py
  urwid/widget/widget.py
  urwid/widget/wimp.py
Labels: Feature, docs, Tests

#733 Feature: Support FIXED-only widgets and FIXED rendering for PILE
  docs/manual/images/urwid_widgets_2.png
  docs/manual/images/urwid_widgets_2.xcf
  docs/manual/widgets.rst
  tests/test_container.py
  tests/test_pile.py
  urwid/widget/line_box.py
  urwid/widget/pile.py
Labels: Feature, docs, Tests

#734 FIX Padding: support FIXED render mode if width is PACK
  tests/test_decoration.py
  tests/test_padding.py
  urwid/widget/padding.py
  urwid/widget/widget_decoration.py
Labels: Feature, bug, Tests

#736 BUG: Columns with GIVEN width == 0 should not count in rows
  tests/test_columns.py
  urwid/widget/columns.py
Labels: bug, Tests

#735 Feature Padding: support FIXED render mode if width is RELATIVE
  tests/test_padding.py
  urwid/widget/padding.py
Labels: Feature, Tests

#737 Feature: support FIXED GIVEN Padding
  tests/test_columns.py
  tests/test_padding.py
  urwid/widget/columns.py
  urwid/widget/padding.py
Labels: Feature, Tests

#738 Feature: support FIXED render type for GridFLow
  docs/manual/images/urwid_widgets_2.png
  docs/manual/images/urwid_widgets_2.xcf
  docs/manual/widgets.rst
  tests/test_container.py
  tests/test_grid_flow.py
  urwid/widget/grid_flow.py
Labels: Feature, docs, Tests

#739 original artwork for widgets diagram
  docs/manual/images/urwid_widgets.svgz
Labels: docs

#741 Feature: `Overlay` typing and proper repr
  tests/test_container.py
  tests/test_overlay.py
  urwid/widget/big_text.py
  urwid/widget/overlay.py
Labels: Feature, Tests

#740 Feature: support proper `repr` and `str` for `Canvas`
  tests/test_canvas.py
  urwid/canvas.py
Labels: Feature, Tests

#742 Fix issues found by static checking
  docs/manual/wcur1.py
  docs/manual/wsel.py
  docs/tools/templates/indexcontent.html
  examples/calc.py
  examples/dialog.py
  examples/edit.py
  examples/graph.py
  examples/lcd_cf635.py
  examples/twisted_serve_ssh.py
  urwid/event_loop/main_loop.py
  urwid/graphics.py
  urwid/listbox.py
  urwid/monitored_list.py
  urwid/signals.py
  urwid/vterm.py
  urwid/widget/bar_graph.py
  urwid/widget/columns.py
  urwid/widget/frame.py
  urwid/widget/line_box.py
  urwid/widget/progress_bar.py
  urwid/widget/text.py
Labels: refactoring, docs, python

#743 Feature: Support FIXED and FLOW operations for `Overlay` depends on options
  docs/manual/images/urwid_widgets_2.png
  docs/manual/images/urwid_widgets_2.xcf
  docs/manual/widgets.rst
  tests/test_overlay.py
  urwid/widget/frame.py
  urwid/widget/overlay.py
Labels: Feature, docs, Tests

#746 BUG: Columns support correct BOX render only if ALL BOX
  tests/test_columns.py
  urwid/widget/columns.py
  urwid/widget/container.py
Labels: bug, Tests

#747 Feature: Columns accept focus widget as "focus_column"
  tests/test_columns.py
  urwid/widget/columns.py
  urwid/widget/wimp.py
Labels: Feature, Tests

#748 LineBox: make side only if side elements present, fix pack
  tests/test_graphics.py
  tests/test_line_box.py
  urwid/widget/__init__.py
  urwid/widget/columns.py
  urwid/widget/grid_flow.py
  urwid/widget/line_box.py
  urwid/widget/overlay.py
  urwid/widget/padding.py
  urwid/widget/pile.py
Labels: bug, Tests

#750 Update source package manifest to include `_web.js` and `_web.css`
  MANIFEST.in
Labels: bug

#749 Feature: Filler can act as FLOW widget
  docs/manual/images/urwid_widgets_2.png
  docs/manual/images/urwid_widgets_2.xcf
  tests/test_decoration.py
  tests/test_filler.py
  urwid/widget/__init__.py
  urwid/widget/attr_map.py
  urwid/widget/attr_wrap.py
  urwid/widget/bar_graph.py
  urwid/widget/box_adapter.py
  urwid/widget/divider.py
  urwid/widget/edit.py
  urwid/widget/filler.py
  urwid/widget/frame.py
  urwid/widget/grid_flow.py
  urwid/widget/padding.py
  urwid/widget/text.py
  urwid/widget/widget.py
  urwid/widget/wimp.py
Labels: Feature, docs, Tests

#751 Fix ListBox.contents: it should return final entity
  urwid/listbox.py
Labels: bug

#752 Feature: allow explicit focus in GridFlow constructor
  tests/test_grid_flow.py
  urwid/widget/grid_flow.py
Labels: Feature, Tests

#754 Fix regression: Columns render incorrect BOX/FLOW widgets height
  tests/test_columns.py
  urwid/canvas.py
  urwid/widget/columns.py
Labels: Tests, regression

#755 Documentation: get rid of deprecated code, typing
  examples/calc.py
  urwid/monitored_list.py
  urwid/treetools.py
  urwid/widget/attr_wrap.py
  urwid/widget/box_adapter.py
  urwid/widget/columns.py
  urwid/widget/edit.py
  urwid/widget/filler.py
  urwid/widget/grid_flow.py
  urwid/widget/overlay.py
  urwid/widget/padding.py
  urwid/widget/pile.py
  urwid/widget/widget.py
  urwid/widget/widget_decoration.py
Labels: docs

#757 Special case: allow not subclassed incomplete widgets in `Columns`/`Pile`
  tests/test_columns.py
  tests/test_pile.py
  urwid/widget/columns.py
  urwid/widget/pile.py
Labels: bug, Tests

#758 Run isolated static checks on static test requirements change
  .github/workflows/isolated_static_check.yml
  .github/workflows/pythonpackage.yml
  black-requirements.txt
  isort-requirements.txt
  pyproject.toml
  ruff-requirements.txt
  urwid/canvas.py
  urwid/display/curses.py
  urwid/display/lcd.py
Labels: CI/CD

#759 Deduplicate code in `frame` module
  tests/test_container.py
  tests/test_doctests.py
  tests/test_event_loops.py
  tests/test_floatedit.py
  tests/test_raw_display.py
  tests/test_signals.py
  tests/test_str_util.py
  tests/test_util.py
  urwid/widget/container.py
  urwid/widget/frame.py
Labels: refactoring, Tests

#760 Extend typing annotations
  urwid/listbox.py
  urwid/monitored_list.py
  urwid/widget/filler.py
  urwid/widget/overlay.py
Labels: refactoring

#761 Fix: columns rendered with a non-first Selectable widget
  tests/test_columns.py
  urwid/widget/columns.py
Labels: bug, Tests

#763 Special case: Columns PACK item not fit as FIXED and support FLOW
  tests/test_columns.py
  urwid/widget/columns.py
Labels: Tests, regression

#764 Add `Scrollable` and `ScrollBar` widgets
  MANIFEST.in
  docs/manual/widgets.rst
  docs/reference/widget.rst
  pyproject.toml
  requirements.txt
  tests/test_scrollable.py
  urwid/canvas.py
  urwid/widget/__init__.py
  urwid/widget/scrollable.py
  urwid/widget/widget.py
Labels: Feature, docs, Tests

#765 Scrollable: Extent `Blocks` collection
  tests/test_scrollable.py
  urwid/widget/scrollable.py
  urwid/widget/widget.py
  urwid/widget/widget_decoration.py
Labels: Tests

#766 Feature: implement common symbols constants
  examples/graph.py
  urwid/widget/bar_graph.py
  urwid/widget/constants.py
  urwid/widget/line_box.py
  urwid/widget/progress_bar.py
Labels: refactoring, docs

#767 Extend Scrollable widget support
  docs/manual/images/urwid_widgets_2.png
  docs/manual/images/urwid_widgets_2.xcf
  docs/manual/widgets.rst
  tests/test_scrollable.py
  urwid/__init__.py
  urwid/listbox.py
  urwid/widget/constants.py
  urwid/widget/divider.py
  urwid/widget/scrollable.py
Labels: Feature, docs, Tests

#768 Support `ScrollBar` by `ListBox`
  docs/manual/widgets.rst
  docs/reference/widget.rst
  examples/tour.py
  pyproject.toml
  tests/test_scrollable.py
  urwid/listbox.py
  urwid/widget/filler.py
Labels: Feature, docs, Tests

#769 Update examples: reduce amount of deprecated parameters
  docs/manual/mainloop.rst
  examples/asyncio_socket_server.py
  examples/bigtext.py
  examples/calc.py
  examples/dialog.py
  examples/fib.py
  examples/graph.py
  examples/input_test.py
  examples/lcd_cf635.py
  examples/palette_test.py
  examples/pop_up.py
  examples/subproc.py
  examples/terminal.py
  examples/tour.py
  examples/twisted_serve_ssh.py
  urwid/canvas.py
Labels: docs

#770 Better clarify Scrollable limitation for input.
  docs/manual/widgets.rst
Labels: docs

#773 Update black formatter
  black-requirements.txt
  docs/conf.py
  docs/examples/edit.py
  docs/manual/wanat.py
  docs/manual/wanat_multi.py
  docs/manual/wcur1.py
  docs/manual/wmod.py
  docs/manual/wsel.py
  docs/tutorial/highcolors.py
  docs/tutorial/input.py
  docs/tutorial/minimal.py
  docs/tutorial/multiple.py
  docs/tutorial/qa.py
  docs/tutorial/sig.py
  docs/tutorial/smenu.py
  docs/tutorial/urwid_attr.py
  examples/twisted_serve_ssh.py
  pyproject.toml
  tests/test_columns.py
  tests/test_vterm.py
  urwid/display/_raw_display_base.py
  urwid/display/curses.py
  urwid/display/html_fragment.py
  urwid/display/web.py
  urwid/listbox.py
  urwid/monitored_list.py
  urwid/util.py
  urwid/widget/columns.py
  urwid/widget/constants.py
  urwid/widget/padding.py
  urwid/widget/scrollable.py
  urwid/widget/wimp.py
Labels: dependencies

#778 Extend Command enum and update `Columns` & `Pile`
  urwid/command_map.py
  urwid/widget/columns.py
  urwid/widget/pile.py
Labels: refactoring

#779 Columns special case: FIXED pack with not enough info
  tests/test_columns.py
  urwid/widget/columns.py
  urwid/widget/solid_fill.py
Labels: Feature, Tests

#780 Fix double `Widget` inheritance in the `LineBox`
  urwid/widget/line_box.py
  urwid/widget/pile.py
  urwid/widget/widget_decoration.py
Labels: refactoring

#776 Documentation: add Gitter badge to the README.rst
  README.rst
Labels: docs

#781 Fix bdist build on Windows
  .github/workflows/pythonpackage.yml
Labels: CI/CD
