Repository urwid/urwid, pull requests merged in 2025-02, with the labels that each got.

#984 Update black formatter to the 25.1.0
  .pre-commit-config.yaml
  black-requirements.txt
  tests/test_canvas.py
  tests/test_escapes.py
  tests/test_text_layout.py
  tests/test_util.py
Labels: CI/CD

#972 Make `MetaSuper` the last base for classes and notice it in the documentation
  docs/reference/deprecated.rst
  urwid/util.py
  urwid/widget/widget.py
Labels: docs, Widget

#991 Make sizing computation much faster for nested containers
  urwid/widget/columns.py
  urwid/widget/container.py
Labels: Widget
