Repository urwid/urwid, pull requests merged in 2025-05, with the labels that each got.

#1010 Package changelog with the sources
  .github/workflows/documentation.yml
  docs/changelog.rst
  docs/conf.py
  tox.ini
Labels: docs, CI/CD

#1016 Prepare release 3.0.0
  docs/changelog.rst
Labels: Maintenance

#1018 Packaging: drop setup.py and adjust requirements
  .github/workflows/documentation.yml
  .github/workflows/pythonpackage.yml
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
Labels: CI/CD

#1019 Python 3.14 compatibility: adjust `AsyncioEventLoop`
  tests/test_event_loops.py
  urwid/canvas.py
  urwid/event_loop/asyncio_loop.py
Labels: bug, Tests, python, Canvas, Event loop

#1020 Prepare release 3.0.1
  docs/changelog.rst
Labels: Maintenance

#1021 Bugfix: Corner case: Scrollbar render for only 1 row height
  tests/test_scrollable.py
  urwid/widget/scrollable.py
Labels: bug, Tests, Widget

#1022 Bugfix: Corner case: Scrollbar render for only 1 row height (#1021)
  docs/changelog.rst
Labels: CI/CD

#1027 fix buffer overflow
  urwid/display/_posix_raw_display.py
Labels: bug, python, Display
